#!/bin/bash

cd /tmp/
{{ pg_dump_command }}

{% if backup_secrets is defined %}
{% for key, value in backup_secrets.items() %}
export {{ key }} = {{ value }}
{% endfor %}
{% else %}
echo "secrets are not set yet"
{% endif %}

{{ duplicity_backups_command }}
