#!/bin/bash

cd {{ backup_dir }}


{% if backup_secrets is defined %}
{% for key, value in backup_secrets.items() %}
export {{ key }}={{ value }}
{% endfor %}
{% else %}
echo "secrets are not set yet"
{% endif %}

{{ duplicity_import_command }} --time $1

